<br/>
<br/>
<canvas id="tempChart" width="400" height="400"></canvas>

<!-- {{ i }} - {{ hour?.temp }} -->
<div class="container">
<div class="card mb-4 box-shadow" style="width: 10rem;" *ngFor="let hour of currentForecast?.list; let i = index">
  <div class="card-body">
    <h5 class="card-title">Time: {{ hour?.dt_txt | date:'medium' }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Temp: {{ hour.main?.temp }}</li>
    <li class="list-group-item">Feels Like: {{ hour.main?.feels_like }}</li>
    <li class="list-group-item">Humidity: {{ hour.main?.humidity }}</li>
    <li class="list-group-item">Humidity: {{ hour.weather[0].description }}</li>
  </ul>
</div>
</div>

