<br/>
<br/>
<div class="container">
  <div class="chartjs-container">
    <h4>Temperature Forecast</h4>
    <canvas baseChart
        [datasets]="tempChartData"
        [labels]="tempChartLabels"
        [options]="tempChartOptions"
        [colors]="tempChartColors"
        [legend]="tempChartLegend"
        [chartType]="tempChartType"
        [plugins]="tempChartPlugins">
    </canvas>
  </div>
</div>
<br/>
<div class="container">
  <div class="chartjs-container">
    <h4>Humidity Forecast</h4>
    <canvas baseChart
        [datasets]="humidityChartData"
        [labels]="tempChartLabels"
        [options]="tempChartOptions"
        [colors]="humidityChartColors"
        [legend]="tempChartLegend"
        [chartType]="tempChartType"
        [plugins]="tempChartPlugins">
    </canvas>
  </div>
</div>
<!-- {{ i }} - {{ hour?.temp }}
<div class="container">
<div class="card mb-4 box-shadow" style="width: 10rem;" *ngFor="let hour of currentForecast?.list; let i = index">
  <div class="card-body">
    <h5 class="card-title">Time: {{ hour?.dt_txt | date:'medium' }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Temp: {{ hour.main?.temp }}</li>
    <li class="list-group-item">Feels Like: {{ hour.main?.feels_like }}</li>
    <li class="list-group-item">Humidity: {{ hour.main?.humidity }}</li>
    <li class="list-group-item">Humidity: {{ hour.weather[0].description }}</li>
  </ul>
</div>
</div> -->

