<br/>
<br/>
<div class="container">
<br/>
<br/>
<div class="chartjs-container">
  <canvas id="tempChart"></canvas>
</div>
<br/>
<div class="chartjs-container">
  <canvas id="humidityChart"></canvas>
</div>
<br/>
<div class="chartjs-container">
  <canvas id="uvChart"></canvas>
</div>

<br/>



</div>
<!-- {{ i }} - {{ hour?.temp }} -->
<!-- <div class="d-flex align-content-start flex-wrap">
  <div class="p-2 bd-highlight" *ngFor="let hour of currentForecast?.list; let i = index">
      <ul class="list-group ">
        <li class="list-group-item">Time: {{ hour?.dt_txt | date:'medium' }}</li>
        <li class="list-group-item">Temp: {{ hour.main?.temp }}</li>
        <li class="list-group-item">Feels Like: {{ hour.main?.feels_like }}</li>
        <li class="list-group-item">Humidity: {{ hour.main?.humidity }}</li>
        <li class="list-group-item">Humidity: {{ hour.weather[0].description }}</li>
      </ul>
    </div>
</div> -->


