<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">Day/Break</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#nav-links" aria-controls="nav-links"
  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav-links">
      <ul class="navbar-nav mr-auto">
          <li *ngFor="let link of navLinksForAuthenticated" class="nav-item active">
                <a *ngIf="currentUserSubject.value" class="nav-link" [routerLink]="link.fragment">{{ link.linkName }}</a>
          </li>
          <li *ngIf="currentUserSubject.value" class="nav-item active">
                <a class="nav-link" (click)="logout()" style="cursor:pointer;">Logout</a>
          </li>
          <li *ngFor="let link of navLinksForNonAuthenticated" class="nav-item active">
                <a *ngIf="!currentUserSubject.value" class="nav-link" [routerLink]="link.fragment">{{ link.linkName }}</a>
          </li>
      </ul>
  </div>
</nav>
