<br/>
<br/>

<h3>10 Day Moon Forecast: </h3>

<!-- <div *ngFor="let day of moonPhase; let i = index " class="container-fluid">
  <div>
    Date: {{ day.date }}
  </div>
  <div>
    Moon Phase: {{ day.phase | number}}
    <i class="{{ day.iconLink }}"></i>
  </div>
  <div>
    Moon Fraction: {{ day.fraction | number}}


  </div>
  <div>
    Moon Angle: {{ day.angle | number}}
  </div>
  <br/>
</div> -->
<div class="card-column container" >
  <div class="card container" *ngFor="let day of moonPhase; let i = index ">
    <i class="{{ day.iconLink.link }} text-center"></i>
    <div class="card-body">
      <h4 class="card-title">
        Moon Phase: {{ day.iconLink.friendlyName  }}
      </h4>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Date: {{ day.date }}
        </li>
        <li class="list-group-item">
          Moon Phase: {{ day.phase | number}}
        </li>
        <li class="list-group-item">
          Moon Percentage: {{ day.fraction | percent}}
        </li>
        <li class="list-group-item">
          Moon Angle: {{ day.angle | number}}
        </li>
      </ul>
    </div>
  </div>
</div>


