<br/>
<br/>

<h3>10 Day Moon Forecast: </h3>
<div class="card-column" >
  <div class="card container" *ngFor="let day of moonPhase; let i = index ">
    <i class="{{ day.iconLink.link }} text-center"></i>
    <div class="card-body">
      <h4 class="card-title">
        Moon Phase: {{ day.iconLink.friendlyName  }}
      </h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Date: {{ day.date }}
        </li>
        <li class="list-group-item">
          Moon Cycle Fraction: {{ day.phase | number}}
        </li>
        <li class="list-group-item">
          Moon Illumination: {{ day.fraction | percent}}
        </li>
        <li class="list-group-item">
          Moon Angle: {{ day.angle | number}}
        </li>
        <li class="list-group-item">
          Moon Rise Time: {{ day.times.rise | date:'shortTime'  }}
        </li>
        <li class="list-group-item">
          Moon Set Time: {{ day.times.set | date:'shortTime' }}
        </li>
      </ul>
    </div>
  </div>
</div>


