
<div id="profile-container" class="container">

    <h1 class="h3 mb-3 font-weight-normal">Profile</h1>

    <!-- <div>
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let link of navLinksForAuthenticated" class="nav-item active">
                  <a *ngIf="currentUserSubject.value" class="nav-link" [routerLink]="link.fragment">{{ link.linkName }}</a>
            </li>
            <li *ngIf="currentUserSubject.value" class="nav-item active">
                  <a class="nav-link" (click)="logout()" style="cursor:pointer;">Logout</a>
            </li>
            <li *ngFor="let link of navLinksForNonAuthenticated" class="nav-item active">
                  <a *ngIf="!currentUserSubject.value" class="nav-link" [routerLink]="link.fragment">{{ link.linkName }}</a>
            </li>
        </ul>
    </div> -->

    <div class="alert alert-danger" *ngIf="errorDuringUpdate">
        <p>There was a problem updating the password.<br>
            Error Code: {{ errorDuringUpdate.status }}<br>
            Error Message: {{ errorDuringUpdate.message }}
        </p>
    </div>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
        <div class="form-group">
            <label for="password">Update Password: </label>
            <input id="password" type="text" class="form-control" formControlName="password"/>
            <div *ngIf="submitted && formFields.password.errors">
                <p class="alert alert-danger">Password is required!</p>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" [disabled]="loading">Update</button>
            <img id="loading-img" src="assets/loading.gif" *ngIf="loading" style="height:100px; width:100px;"/>
        </div>
    </form>

</div>

<div id="add-locations" class="container">

  <h1 class="h3 mb-3 font-weight-normal">Add New location</h1>
  <div class="alert alert-danger" *ngIf="errorDuringRegistration">
      <p>There was a problem adding this location.<br>
          Error Code: {{ errorDuringRegistration.status }}<br>
          Error Message: {{ errorDuringRegistration.message }}
      </p>
  </div>
  <form [formGroup]="addLocationForm" (ngSubmit)="addLocation()">
      <div class="form-group">
          <label for="city">City</label>
          <input id="city" type="text" class="form-control" formControlName="city"/>
          <!-- <div *ngIf="submitted && formFields.city.errors">
              <p class="alert alert-danger">Username is required!</p>
          </div> -->
      </div>

      <div class="form-group">
          <label for="state">State</label>
          <input id="state" type="state" class="form-control" formControlName="state"/>
          <!-- <div *ngIf="submitted && formFields.password.errors">
              <p class="alert alert-danger">Password is required!</p>
          </div> -->
      </div>

      <div class="form-group">
          <label for="country">Country</label>
          <input id="country" type="text" class="form-control" formControlName="country"/>
          <!-- <div *ngIf="submitted && formFields.firstName.errors">
              <p class="alert alert-danger">First Name is required!</p>
          </div> -->
      </div>

      <div class="form-group">
          <label for="locationZipCode">Zip:</label>
          <input id="locationZipCode" type="text" class="form-control" formControlName="locationZipCode"/>
          <div *ngIf="submitted && addLocationFields.lastName.errors">
              <p class="alert alert-danger">Last Name is required!</p>
          </div>
      </div>

      <div class="form-group">
          <button class="btn btn-primary" [disabled]="loading">Register</button>
          <img id="loading-img" src="assets/loading.gif" *ngIf="loading" style="height:100px; width:100px;"/>
      </div>
  </form>

</div>
