<br/>
<br/>
<div class="container" >
  <!-- Select from favorites
  <form [formGroup]="updateForm" (ngSubmit)="updateLocation()">
    <div class="form-group">
      <label for="location">Choose from Your Favorite Locations:</label>
      <select class="form-control" id="location" formControlName="location" required >
        <option *ngFor="let location of locations; let i = index" value="{{ location.locationZipCode  }}" selected>
          Name: {{ location.city }},
          State: {{ location.state }},
          Zip: {{ location.locationZipCode }}, {{location.country}}
        </option>
      </select>
      <button type="submit" class="btn btn-primary" [disabled]="!updateForm.touched || updateForm.invalid">Update</button>
    </div>
  </form> -->
  <div class="chartjs-container">
    <h2>Hourly Forecast For: {{ currentLocation }}</h2>
    <canvas id="tempChart"></canvas>
  </div>
  <div *ngIf="gotForecast">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Time: </th>
          <th>Forecast: </th>
          <th>Wind Direction: </th>
          <th>Wind Speed: </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of forecast.properties.periods; let i = index">
          <td><img src="{{ hour.icon }}" alt=""></td>
          <td>{{ hour.endTime | date:'short' }}</td>
          <td>{{hour.shortForecast}}</td>
          <td>Wind Direction: {{hour.windDirection}}</td>
          <td>{{hour.windSpeed}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


