<div id="register-container" class="container">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <div class="alert alert-danger" *ngIf="errorDuringRegistration">
        <p>There was a problem registering the user.<br>
            Error Code: {{ errorDuringRegistration.status }}<br>
            Error Message: {{ errorDuringRegistration.message }}
        </p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" formControlName="username"/>
            <div *ngIf="submitted && formFields.username.errors">
                <p class="alert alert-danger">Username is required!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password"/>
            <div *ngIf="submitted && formFields.password.errors">
                <p class="alert alert-danger">Password is required!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" class="form-control" formControlName="firstName"/>
            <div *ngIf="submitted && formFields.firstName.errors">
                <p class="alert alert-danger">First Name is required!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" class="form-control" formControlName="lastName"/>
            <div *ngIf="submitted && formFields.lastName.errors">
                <p class="alert alert-danger">Last Name is required!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email"/>
            <div *ngIf="submitted && formFields.email.errors">
                <p class="alert alert-danger">Email is required!</p>
            </div>
        </div>

        <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input id="zipcode" type="text" class="form-control" formControlName="zipcode" pattern="[0-9]{5}"/>
            <div *ngIf="submitted && formFields.zipcode.errors">
                <p class="alert alert-danger">Zip Code must be a 5 digit number</p>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" [disabled]="loading">Register</button>
            <img id="loading-img" src="assets/loading.gif" *ngIf="loading" style="height:100px; width:100px;"/>
        </div>
    </form>

</div>
